/* line 1, sass/style.sass */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  color: #000;
}

/* line 6, sass/style.sass */
body p {
  color: blue;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 12, sass/style.sass */
.homunculo {
  border-bottom: 1px solid #000;
  font-family: arial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  visibility: hidden;
}
