doctype html
html(lang="en")
  head
    title COÑO
    link(href='../css/style.css', rel='stylesheet')
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        KHE ug is a terse and simple templating language with a
        trong focus on performance and powerful features.
        Madre mia CHAVAL
      br
      p MADRE MIA WILLY QUE HACES AQUI COMPAÑERO.

    include blocks/menu.pug
